<% if !token.send(component).nil? and File.file?(Rails.root.join("public", "assets", "tts", component, "#{token.id}.mp3") || "") %>
<audio id="<%= "audio_#{component}_#{token.id}" %>">
  <source src="<%= File.join("/", "assets", "tts", component, "#{token.id}.mp3") %>" type="audio/mpeg"></source>
</audio>
<a href="javascript:void(0)" class="waves-effect waves-light btn-flat grey-text text-darken-3" onclick="play_audio(<%= token.id %>, '<%= component %>')"><i id="btn_audio_<%= component %>_<%= token.id %>" class="material-icons">play_circle_outline</i></a>
<% end %>