<td class="info">
    <p class="course_and_number">
        <% badge_color = "blue"%>
        <% badge_color = "red" if token.course == "JLPT" %>
        <%= content_tag(:span, token.course, :class => "new badge "+badge_color, "data-badge-caption" => "") %>
        <%= content_tag(:span, token.number, :class => "new badge grey", "data-badge-caption" => "") %>
    </p>
</td>
<td class="japanese">
    <p class="kanji"><%= link_to(token.kanji, token, :class => "kanji") if token.kanji %></p>
    <p class="hiragana"><%= link_to(token.hiragana, token, :class => "hiragana") if token.hiragana %></p>
    <p class="katakana"><%= link_to(token.katakana, token, :class => "katakana") if token.katakana %></p>
    <p class="romaji"><%= link_to(token.romaji, token, :class => "romaji") %></p>
</td>
<td class="translation">
    <% badge_de = content_tag(:span, "DE", :class => "new badge grey", "data-badge-caption" => "") %>
    <% badge_en = content_tag(:span, "EN", :class => "new badge grey", "data-badge-caption" => "") %>
    <p class="german"><%= link_to(token.german, token, :class => "german") unless token.german.empty? %></p>
    <p class="english"><%= link_to(token.english, token, :class => "english") unless token.english.empty? %></p>
</td>
