<% br = "<br>".html_safe %>
<td class="info">
    <p class="course_and_number">
        <%
            badge_color = "grey"
            badge_color = "red" if token.course == "JLPT"
            badge_color = "blue" if token.course.match /A\d\.\d/
        %>
        <%= content_tag(:span, token.course, :class => "new badge "+badge_color, "data-badge-caption" => "") %>
        <%= content_tag(:span, token.number, :class => "new badge grey", "data-badge-caption" => "") %>
    </p>
</td>
<td class="japanese">
    <p>
        <%= content_tag(:span, token.kana.html_safe, :class => "kana")+br if token.kana and not token.kana.empty? %>
        <%= content_tag(:span, token.hiragana.html_safe, :class => "hiragana")+br if token.hiragana and not token.hiragana.empty? %>
        <%= content_tag(:span, token.katakana.html_safe, :class => "katakana")+br if token.katakana and not token.katakana.empty? %>
        <%= content_tag(:span, token.romaji.html_safe, :class => "romaji")+br if token.romaji and not token.romaji.empty? %>
    </p>
</td>
<td class="translation">
    <% # badge_de = content_tag(:span, "DE", :class => "new badge grey", "data-badge-caption" => "") %>
    <% # badge_en = content_tag(:span, "EN", :class => "new badge grey", "data-badge-caption" => "") %>
    <%= content_tag(:p, content_tag(:span, token.german.html_safe, :class => "german")) if token.german and not token.german.empty? %>
    <%= content_tag(:p, content_tag(:span, token.english.html_safe, :class => "english")) if token.english and not token.english.empty? %>
</td>
<td class="pos">
    <p class="pos"><%= content_tag(:span, token.pos, :title => t(token.pos)) %></p>
</td>
<td class="category">
    <p class="category"><%= content_tag(:span, token.category) %></p>
</td>
