<td class="info">
    <p class="course_and_number">
        <%
            badge_color = "grey"
            badge_color = "red" if token.course == "JLPT"
            badge_color = "blue" if token.course.match /A\d\.\d/
        %>
        <%= content_tag(:span, token.course, :class => "new badge "+badge_color, "data-badge-caption" => "") %>
        <%= content_tag(:span, token.number, :class => "new badge grey", "data-badge-caption" => "") %>
    </p>
</td>
<td class="japanese">
    <p class="kana"><%= link_to((token.kana||"").html_safe, token_path(token, :params => @params), :class => "kana") if token.kana %></p>
    <p class="hiragana"><%= link_to((token.hiragana||"").html_safe, token_path(token, :params => @params), :class => "hiragana") if token.hiragana %></p>
    <p class="katakana"><%= link_to((token.katakana||"").html_safe, token_path(token, :params => @params), :class => "katakana") if token.katakana %></p>
    <p class="romaji"><%= link_to((token.romaji||"").html_safe, token_path(token, :params => @params), :class => "romaji") %></p>
</td>
<td class="translation">
    <% # badge_de = content_tag(:span, "DE", :class => "new badge grey", "data-badge-caption" => "") %>
    <% # badge_en = content_tag(:span, "EN", :class => "new badge grey", "data-badge-caption" => "") %>
    <p class="german"><%= link_to(token.german, token_path(token, :params => @params), :class => "german") unless token.german.empty? %></p>
    <p class="english"><%= link_to(token.english, token_path(token, :params => @params), :class => "english") unless token.english.empty? %></p>
</td>
<td class="pos">
    <p class="pos"><%= content_tag(:span, token.pos, :title => t(token.pos)) %></p>
</td>
<td class="category">
    <p class="category"><%= content_tag(:span, token.category) %></p>
</td>
