<%= render 'search' %>

<br><br>

<%= render 'filter' %>

<br><br>

<%= render 'paginate' %>

<table class="token">
  <thead>
    <tr>
      <th class="kanji">Kanji</th>
      <th class="hiragana">Hiragana</th>
      <th class="katakana">Katakana</th>
      <th class="romaji">Romaji</th>
      <th class="german"><%= t("german") %></th>
      <th class="info"></th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <% created = token.created_at.strftime("%Y-%m-%d") -%>
      <% updated = token.updated_at.strftime("%Y-%m-%d") -%>
      <% tooltip = ("%s: %s <br> %s: %s" % [t("created_at"), created, t("updated_at"), updated]).html_safe -%>
      <tr>
        <% empty = '<span class="empty">–</span>'.html_safe -%>
        <td class="kanji"><%= token.kanji.nil? ? empty : link_to(token.kanji, token) %></td>
        <td class="hiragana"><%= token.hiragana.nil? ? empty : link_to(token.hiragana, token)  %></td>
        <td class="katakana"><%= token.katakana.nil? ? empty : link_to(token.katakana, token) %></td>
        <td class="romaji"><%= token.romaji.nil? ? empty : link_to(token.romaji, token) %></td>
        <td class="german"><%= token.german.nil? ? empty : link_to(token.german, token) %></td>
        <td class="info hide-on-med-and-down"><i class="material-icons tooltipped" data-position="left" data-tooltip="<%= tooltip %>" title="<%= tooltip %>">info_outline</i></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'paginate' %>

<br><br>

<div class="container center">
  <%= link_to '<i class="material-icons left">cloud_download</i> download cards.pdf'.html_safe, url_for(:date => @date, :pos => @pos, :search => @search, :format => :pdf), class: "waves-effect waves-light btn blue darken-1" %>
</div>
