
<%= render 'filter', key: "course", list: @courses, current: @course %>
<%= render 'filter', key: "number", list: @numbers, current: @number %>
<%= render 'filter', key: "pos", list: @poses, current: @pos %>

<%= paginate @tokens, views_prefix: 'kaminari_top' %>

<table class="token">
  <thead>
    <tr>
      <%= render 'thead' %>
    </tr>
  </thead>
  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <%= render 'cells', token: token %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tokens, views_prefix: 'kaminari_bottom' %>

<br><br><br>

<div class="container center">
  <%= link_to (content_tag(:i, "picture_as_pdf", class: "material-icons left") + "#{@size} cards").html_safe, url_for(:date => @date, :pos => @pos, :search => @search, :format => :pdf), class: "waves-effect waves-light btn blue darken-1" %>
  <%= link_to (content_tag(:i, "print", class: "material-icons left") + "print version").html_safe, url_for(:controller => "misc", :action => "print"), class: "waves-effect waves-light btn blue darken-1" %>
</div>

<br><br><br>
