<%= render 'search' %>

<br><br>

<%= render 'paginate' %>

<table class="token">
  <thead>
    <tr>
      <th class="kanji">Kanji</th>
      <th class="hiragana">Hiragana</th>
      <th class="katakana">Katakana</th>
      <th class="romaji">Romaji</th>
      <th class="german">German</th>
      <th class="info"></th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <% created = token.created_at.strftime("%Y-%m-%d") -%>
      <% updated = token.updated_at.strftime("%Y-%m-%d") -%>
      <% tooltip = ("created at: %s <br> updated at: %s" % [created, updated]).html_safe -%>
      <tr>
        <td class="kanji"><%= link_to(token.kanji, token) unless token.kanji.nil? %></td>
        <td class="hiragana"><%= link_to(token.hiragana, token) unless token.hiragana.nil? %></td>
        <td class="katakana"><%= link_to(token.katakana, token) unless token.katakana.nil? %></td>
        <td class="romaji"><%= link_to(token.romaji, token) unless token.romaji.nil? %></td>
        <td class="german"><%= link_to(token.german, token) unless token.german.nil? %></td>
        <td class="info hide-on-med-and-down"><i class="material-icons tooltipped" data-position="left" data-tooltip="<%= tooltip %>" title="<%= tooltip %>">info_outline</i></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'paginate' %>
