<%= render 'search' %>

<br><br>

<%= render 'filter' %>

<br><br>

<%= render 'paginate' %>

<table class="token">
  <thead>
    <tr>
      <%= render 'thead' %>
    </tr>
  </thead>
  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <%= render 'cells', token: token %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'paginate' %>

<br><br>

<div class="container center">
  <%= link_to '<i class="material-icons left">cloud_download</i> cards.pdf'.html_safe, url_for(:date => @date, :pos => @pos, :search => @search, :format => :pdf), class: "waves-effect waves-light btn blue darken-1" %>
</div>
