<hr />
<div class="token">
    <p><%= content_tag(:span, token.kanji, class: "kanji") %></p>
    <p><%= content_tag(:span, token.hiragana, class: "hiragana") %></p>
    <p><%= content_tag(:span, token.katakana, class: "katakana") %></p>
    <p><%= content_tag(:span, token.romaji, class: "romaji") %></p>
    <p><%= content_tag(:span, token.german, class: "german") %></p>
</div>
