<div class="container print">

<h1>Hiragana</h1>
<%= render "strokes", variant: "hiragana" %>

<br class="spacer">

<h1>Katakana</h1>
<%= render "strokes", variant: "katakana" %>

<br class="page-break">

<h1 style="page-break-before:always;">Sätze</h1>

<% @sentences.each do |token| %>
  <%= render "token", token: token %>
<% end %>

<h1>Vokabeln</h1>

<% @tokens.each do |token| %>
  <%= render "token", token: token %>
<% end %>

<h1>Zahlen</h1>

<% @numbers.each do |token| %>
  <%= render "token", token: token %>
<% end %>

<h1 style="page-break-before:always;">JLPT N5</h1>

<% @jlpt_n5.each do |token| %>
  <%= render "token", token: token %>
<% end %>

</div>

<script>
function hook() {
  var i;
  var hiraganaHeight = document.getElementById("svg-hiragana").getBoundingClientRect().height;
  var strokes = document.getElementsByClassName("strokes-v");
  var labels = document.getElementsByClassName("label-v");
  for (i = 0; i < strokes.length; i++) {
    strokes[i].style.height = hiraganaHeight;
  }
  for (i = 0; i < labels.length; i++) {
    document.getElementById("log").innerHTML = Math.floor(hiraganaHeight / 5.0) + " /// " + x.length;
    labels[i].style.height = Math.floor(hiraganaHeight / 5.0);
  }
}

document.addEventListener("DOMContentLoaded", hook());
window.addEventListener("resize", hook());
</script>