<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kihon</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>

    <p class="footer"><%= link_to "github.com/rhasqx/kihon", "https://github.com/rhasqx/kihon" %></p>

    <script>
    function play_audio(n, component) {
      var audio = document.getElementById("audio_" + component + "_" + n);
      var btn = document.getElementById("btn_audio_" + component + "_" + n);
    
      if (audio.paused) {
        console.log("paused -> play");
        btn.innerHTML = "pause";
        audio.play();
      } else {
        console.log("else -> pause");
        btn.innerHTML = "play_arrow";
        audio.pause();
      }
    
      audio.onended = function() {
        console.log("ended");
        btn.innerHTML = "play_arrow";
      };
    }
    </script>
  </body>
</html>
